.rfkiller-label {
    font-size: 12px;
    font-weight: bold;
}

.rfkiller-dialog {
    border-radius: 12px;
    background-color: rgba(0.0, 0.0, 0.0, 0.8);
    border: 2px solid #868686;
    color: #ffffff;

    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.rfkiller-dialog-item {
    padding: .4em 0.75em;
    spacing: 2em;
}

.rfkiller-dialog-item:active {
    background-color: #4c4c4c;
}

.rfkiller-close {
    background-image: url("close.svg");
    height: 20px;
    width: 20px;
    -shell-close-overlap: 20px;
}


